# Environment variables for HRMS Backend 
# Copy this file to .env and fill in your actual values

#FireBase Config(Fill the values from your Firebase Console)
NEXT_PUBLIC_FIREBASE_API_KEY=your_firebase_api_key
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
NEXT_PUBLIC_FIREBASE_PROJECT_ID=your_firebase_project_id
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
NEXT_PUBLIC_FIREBASE_APP_ID=your_firebase_app_id

#Backend Config(Fill the values from your Backend Console)
NEXT_PUBLIC_BACKEND_BASE=your_backend_base_url
NEXT_PUBLIC_BACKEND_API_BASE=your_backend_api_base_url #Mostly same as NEXT_PUBLIC_BACKEND_BASE

